.about-description__header p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-sapphire;
}

.about-description__body p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;
}

.about-description__body *:not(:first-child) {
  @include vp-1199 {
    display: none;
  }
}
