.about-description {
  padding-top: 43px;
  padding-right: 80px;
  padding-left: 60px;

  @include vp-1199 {
    margin-bottom: 36px;
    padding-top: 0;
    padding-right: 80px;
    padding-left: 80px;

    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;

    text-align: left;
  }
}

.about-description__header p {
  margin: 0;
  margin-bottom: 38px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-sapphire;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.about-description__body {
  @include vp-767 {
    padding-right: 30px;
  }
}

.about-description__body p {
  margin: 0;
  margin-bottom: 8px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-description__body *:not(:first-child) {
  @include vp-1199 {
    display: none;
  }
}
