.advantage {
  align-items: center;
}

.advantage--align-top {
  align-items: flex-start;

  @include vp-1199 {
    align-items: center;
  }
}

.advantage--align-bottom {
  align-items: flex-end;

  @include vp-1199 {
    align-items: center;
  }
}

.advantage--secondary:nth-child(n + 3) {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    top: 0;
    left: 0;

    border-bottom: 2px solid $color-crimson-20;

    @include vp-1199 {
      display: none;
    }
  }
}

.advantage--secondary {
  display: flex;
  min-height: 153.5px;

  @include vp-1199 {
    min-height: auto;
    padding: 38px 0 38px 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 28px 0 0 0;

    text-align: center;
  }
}

.advantage__header {
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
  }
}

.advantage--align-top .advantage__header {
  margin-top: -28px;

  @include vp-1199 {
    margin-top: 0;

    transform: translateY(-7px);
  }
}

.advantage--align-bottom .advantage__header {
  margin-bottom: -6px;

  @include vp-1199 {
    margin-bottom: 0;

    transform: translateY(-9px);
  }
}

.advantage--shift {
  padding-left: 26px;

  @include vp-1199 {
    padding-left: 0;
  }
}

.advantage__header b {
  position: relative;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 71px;
  line-height: 106px;
  color: transparent;

  background: linear-gradient(127.61deg, $color-crimson 0%, $color-cobalt 45.58%);
  background-clip: text;

  @include vp-1199 {
    font-size: 58px;
    line-height: 87px;
  }

  span {
    position: absolute;
    bottom: -10px;
    left: 0;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-persian-blue;

    @include vp-767 {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantage--align-top .advantage__body {
  margin-top: -7px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.advantage--align-bottom .advantage__body {
  margin-bottom: -3px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.advantage__body h3 {
  margin: 0;
  margin-bottom: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $color-sapphire;

  @include vp-1199 {
    margin-bottom: 3px;

    font-size: 20px;
    line-height: 30px;
  }
}

.advantage__body p {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-sapphire;

  @include vp-767 {
    max-width: 230px;
  }
}

.advantage--primary {
  grid-column: 2 / 3;
  grid-row: 1 / 10;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 307px;
  padding: 35px 34px;

  text-align: center;

  background-color: $color-resolution-blue;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: auto;
    width: 442px;
    height: auto;
    min-height: 239px;
    margin: 0 auto;
    padding: 14px 34px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 44px;
    margin-bottom: 7px;
    padding: 20px 34px;
  }
}

.advantage--primary h3 {
  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 54px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 111px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    margin-bottom: 16px;
  }

  span {
    position: absolute;
    right: 0;
    bottom: -23px;
    left: 0;

    font-size: 26px;
    line-height: 39px;
    text-transform: capitalize;

    @include vp-1199 {
      bottom: -15px;

      font-size: 22px;
      line-height: 33px;
    }

    @include vp-767 {
      bottom: -8px;
    }
  }
}

.advantage--primary p {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-white;

  @include vp-1199 {
    max-width: 175px;
  }
}
