.coaches {
  position: relative;

  padding-top: 55px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.coaches__container {
  position: relative;

  width: 100%;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 566px;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.coaches__list {
  display: flex;
  justify-content: space-between;
}
