.contact__title {
  margin: 0;
  margin-bottom: 3px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-sapphire;

  @include vp-1199 {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 30px;
  }
}

.contact__description {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contact a {
  transition: $trans-default;

  &:hover,
  &:focus {
    color: $color-sapphire-70;
  }

  &:active {
    color: $color-sapphire-30;
  }
}
