.contacts {
  border-top: 1px solid $color-light-slate-grey;
}

.contacts__content {
  padding: 64px 15.08% 62px 17.57%;

  @include vp-1199 {
    padding: 66px 17.4% 63px 12.98%;
  }

  @include vp-767 {
    padding: 66px 0 63px 0;
  }
}

.contacts__list {
  position: relative;

  display: grid;
  grid-template-columns: minmax(min-content, 230px) 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: column;
  column-gap: 60px;
  row-gap: 15px;
  padding-left: 4px;

  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 234px;
    bottom: 7px;

    border-right: 1px solid $color-light-slate-grey;

    @include vp-1199 {
      left: 266px;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    grid-template-columns: minmax(min-content, 266px) 1fr;
    column-gap: 48px;
    row-gap: 20px;
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
}

.contacts__group {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 7px;
    right: 0;
    bottom: 7px;

    border-right: 1px solid $color-light-slate-grey;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @include vp-767 {
    margin-bottom: 21px;

    &::after {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts__group .contact {
  margin-bottom: 18px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__group--2 .contact {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}
