.reviews {
  padding-top: 54px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.reviews__content {
  @include vp-767 {
    padding: 0 32px;
  }
}

.reviews__list {
  position: relative;

  width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.reviews__slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
