.section__title {
  font-family: "Bebas Neue", "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.section__title--trial {
  line-height: 64px;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}
